<div class="container">
    <h2 class="mt-3">Product</h2>
    <hr>

    <h4 class="mt-3">{{product.title}}</h4>
    <p>{{product.etc}}</p>
    Category
    <p class="blockquote-footer">
        {{#each product.category}}
            {{this}},
        {{/each}}
    </p>
    Color
    <p class="blockquote-footer">
        {{product.color}}
    </p>
    Quantity
    <p class="blockquote-footer">
        {{product.quantity}}
    </p>
</div>